# [submodule "Gaurav_portfolio/Gauravs_portfolio" ]
#  Path  = Gaurav_portfolio/Gauravs_portfolio
#  url = https://github.com/GauravOOO2/Gaurav_portfolio.git


#  [submodule "Gaurav_portfolio/Gauravs_portfolio"]
#     path = Gaurav_portfolio/Gauravs_portfolio
#     url = https://github.com/GauravOOO2/Gaurav_portfolio.git


[submodule "Gaurav_portfolio"]
    path = Gaurav_portfolio
    url = https://github.com/GauravOOO2/Gaurav_portfolio.git


    
[submodule "Gaurav_portfolio"]
    path = Gaurav_portfolio
    url = https://github.com/GauravOOO2/Gaurav_portfolio.git


